@font-face {
    font-family: 'OpenSans';
    src: url(./OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(./OpenSans-Semibold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}