.nav__item {
    display: flex;
    color: #333333;
    height: 65px;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    outline: none;
}
@media screen and (max-width:1060px) {
    .nav__item{
        height: 60px;
    }
}
.nav__item:hover {
    cursor: pointer;
}