.search__field {
    width: 100%;
    border: none;
    padding: 0;
    border-radius: 50px;
    outline: none;
    line-height: normal;
    padding-left: 8px;
}
@media screen and (max-width:350px) {
    .search__field {
        padding-left: 16px;
    }
}
